/.gradle
/.idea
/build
/sample/build
/sample/sample.iml
/source/pom.xml
/source/target
/source/build
/source/source.iml
/local.properties
/JavaBaas_SDK_Android.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
